.conda/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/


# Generated data
data/database/**
data/bronze/**
data/silver/**
data/gold/**
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/database/.gitkeep

# Power BI machine-local settings and data cache
**/.pbi/localSettings.json
**/.pbi/cache.abf
# Power BI local state / cache
powerbi/**/.pbi/**
*.pbix
